<section id="section1" class="section1">
    <!-- Summary -->
    <div class="title text-center">
      <h1>Arda Ipek</h1>
      <h3>Full Stack Software Developer</h3>
      <hr />
    </div>
    <div class="summary">
      <div class="card card-1 mb-5">
        <div class="card-body">
          <h3 class="card-title title">Summary</h3>
          <p class="card-text">
            I'm currently working on full stack web development especially javascript and dotnet core.
             I had worked as a frontend developer before.
              I used angular 8 and ionic frameworks for this position.
          </p>
          <ul>
            <li>I’m currently learning React and React Native. I want to use these two tech at my professional career </li>
            <li><strong>Also, you can ask anything about software development  or new projects</strong></li>
          </ul>
        </div>
      </div>
      <div class="card card-1 mb-5">
        <!--Frontend-->
        <div class="card-body">
          <h5 class="text-center mb-3 section-title " style="text-decoration:underline">Software</h5>
          <div class="row">
            <div class="col-md-6">
              <p class="text-info">Javascript - ES5 ES6</p>
              <p class="text-primary">TypeScript</p>
              <p class="text-info"> Angular2+ and Angularjs</p>
              <p class="text-primary">Ionic Framework</p>
            </div>
            <div class="col-md-6">
              <p class="text-primary">NodeJs & NextJS</p>
              <p class="text-info">Dotnet Core 3.0</p>
              <p class="text-primary">Werb Services & REST APIs</p>
              <p class="text-info">Microservice Architecture</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>