<section id="section1" class="section1">
  <!-- Summary -->
  <div class="title text-center">
    <h1>Arda Ipek</h1>
    <h3>Software Developer</h3>
    <hr />
  </div>
  <div class="summary">
    <div class="card card-1 mb-5">
      <div class="card-body">
        <h2 class="text-center mb-5 section-title">Summary</h2>
        <p class="card-text">
          I work as a Software Developer at various Startup Companies that handles high volumes
          of data traffic. I create new features and services using NodeJS and
          Dotnet Core to deliver cutting-edge solutions. I have experience
          primarily developing backend code. I thrive on solving complex
          challenges and finding creative solutions. Moreover, I am committed to
          constantly learning and exploring new techniques and patterns to
          improve my skills as a developer.
        </p>
        <ul>
          <li>
            <strong
              >Also, you can ask anything about software development or new
              projects</strong
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="card card-1 mb-5">
      <!--Frontend-->
      <div class="card-body">
        <h2 class="text-center mb-5 section-title">Skills</h2>
        <div class="row">
          <div class="col-md-3">
            <h4 class="mb-5"><strong>Code</strong></h4>
            <p class="list-item-skill">JavaScript</p>
            <p class="list-item-skill">TypeScript</p>
            <p class="list-item-skill">C#</p>
          </div>
          <div class="col-md-4">
            <h4 class="mb-5"><strong>Frameworks</strong></h4>
            <p class="list-item-skill">NodeJS</p>
            <p class="list-item-skill">.Net Core</p>
            <p class="list-item-skill">Express</p>
          </div>
          <div class="col-md-5">
            <h4 class="mb-5"><strong>Tools & Systems</strong></h4>
            <p class="list-item-skill">AWS (EC2,Lambda,RDS,Cloudwatch..)</p>
            <p class="list-item-skill">PostgreSQL, Redis</p>
            <p class="list-item-skill">RabbitMQ</p>
            <p class="list-item-skill">Clean Code, SOC</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
