<section id="section4" class="section4">
    <!-- Contact -->
    <h2 class="text-center section-title">Contact</h2>

    <div class="row">
      <div class="col-md-3">
        <a href="https://www.linkedin.com/in/ardaipek/" target="_blank">
          <div class="card card-1">

          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://twitter.com/aardaipek" target="_blank">
          <div class="card card-2">

          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://open.spotify.com/user/aardaipek?si=ULcaUscDSAyzckU2TO25Rg" target="_blank">
          <div class="card card-3">


          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="mailto:ardaipek66@gmail.com" target="_blank">
          <div class="card card-4">


          </div>
        </a>
      </div>
    </div>

  </section>