<section id="section2" class="section2">
    <!-- Works -->
    <div class="work-experience">

      <h2 class="text-center section-title">Work Experiences</h2>

      <div class="card card-1 mb-5">
        <div class="row experience-title">
          <div class="col-md-9">
            <h3 class="company">PrimeApps</h3>
            <h4>Software Developer</h4>
            <h5>Angular and .Net Core Development</h5>
          </div>
          <div class="col-md-3">
            <h3>October 2019 - Present</h3>
          </div>
        </div>
        <div class="row experience-summary">
          <div class="col-md-12">
            <p>
              I develop web app.PrimeApps provide comprehensive web applications on low code platform.
               My responsibilities are develop versatile new apps,solve the bug and making new developments for our clients.
                I usually use Dotnet Core and Javascript especially Angular for development.
            </p>
            <ul>
              <li>ES5 and ES6 with angularjs</li>
              <li>.Net Core web apis</li>
              <li>PostgreSQL</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card card-1 mb-5">
        <div class="row experience-title">
          <div class="col-md-9">
            <h3 class="company">De Marke Labs</h3>
            <h4>Jr.Frontend Developer</h4>
            <h5>Angular/Ionic Projects</h5>
          </div>
          <div class="col-md-3">
            <h3>April 2019 - September 2019</h3>
          </div>
        </div>
        <div class="row experience-summary">
          <div class="col-md-12">
            <p>
              I mostly used angular and ionic frameworks on javascript.
              I have developed hybrid applications with Ionic Framework *ionic 4. I used node js and firebase in these
              applications.
            </p>
            <ul>
              <li>Firebase Cloud Function</li>
              <li>Arduıno Development : Arduino Bluetooth Module and Hall Effect Sensor</li>
            </ul>
          </div>
        </div>
      </div>

   

    </div>

  </section>