<section id="section2" class="section2">
    <!-- Works -->
    <div class="work-experience">

      <h2 class="text-center section-title">Work Experiences</h2>

      <div class="card card-1 mb-5">
        <div class="row experience-title">
          <div class="col-md-9">
            <h3 class="company">Martı Technology</h3>
            <h4>Backend Developer</h4>
            <h5>NodeJS and .Net Core Development</h5>
          </div>
          <div class="col-md-3">
            <h3>October 2021 - Present</h3>
            <h6 class="text-muted text-secondary ">1 yrs, 8 mos</h6>
          </div>
        </div>
        <div class="row experience-summary">
          <div class="col-md-12">
            <p>As a backend developer on a product-based team, my role involves developing new features and services while maintaining high standards of code quality and consistency. My primary programming languages are NodeJS and Typescript, and I also have experience with .Net Core. To support our development workflow, I frequently utilize a variety of AWS tools, including Lambda, EC2, and Cloudwatch. Additionally, I rely on various development tools such as RabbitMQ, Redis, PostgreSQL, and Docker.</p>
            <p>Also i work with 3rd party integrations on payment services. Such as Mastercard, IBBCard</p>
            <p>In my position, I not only write code, but I also review pull requests from my colleagues to ensure that our codebase remains clean, maintainable, and efficient. I understand the importance of collaboration in software development and strive to work effectively with my team to achieve our common goals.</p>
            <p>Overall, my experience and skillset make me well-suited for working on complex, feature-rich applications that require a high level of expertise in backend development and cloud infrastructure.</p>
            <ul>
              <p class="font-weight-bold text-primary">Tech Stack</p>
              <li>NodeJS, Typescirpt, NestJS</li>
              <li>AWS (EC2, Lambda, RDS, Cloudwatch)</li>
              <li>RabbitMQ</li>
              <li>.Net Core</li>
              <li>PostgreSQL, Redis</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card card-1 mb-5">
        <div class="row experience-title">
          <div class="col-md-9">
            <h3 class="company">PrimeApps</h3>
            <h4>Software Developer</h4>
            <h5>Angular and .Net Core Development</h5>
          </div>
          <div class="col-md-3">
            <h3>October 2019 - October 2021</h3>
            <h6 class="text-muted text-secondary ">2 yrs, 1 mo</h6>
          </div>
        </div>
        <div class="row experience-summary">
          <div class="col-md-12">
            <p>As a software developer on a product team, my primary responsibility was to design, develop, and maintain new features on our low-code platform. Leveraging advanced technologies such as Dotnet Core (v5-v6) and Angular, I crafted high-performing solutions that helped the product team meet its goals.</p>
            <p>Throughout the development process, I remained committed to ensuring the platform's reliability and stability by fixing any issues or bugs that arose. This required a keen attention to detail and a deep understanding of the platform's architecture and codebase.</p>
            <p>In addition to my technical contributions, I actively collaborated with other members of the product team to gather feedback, identify areas for improvement, and continuously iterate on our platform. This included conducting code reviews, participating in design discussions, and working closely with our quality assurance team to ensure that our software met the highest standards of quality.</p>
            <ul>
              <p class="font-weight-bold text-primary">Tech Stack</p>
              <li>.Net Core</li>
              <li>AngularJS</li>
              <li>Azure, Functions and Pipelines</li>
              <li>PostgreSQL, Redis</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card card-1 mb-5">
        <div class="row experience-title">
          <div class="col-md-9">
            <h3 class="company">De Marke Labs</h3>
            <h4>Jr.Software Developer</h4>
            <h5>Angular/Ionic Projects</h5>
          </div>
          <div class="col-md-3">
            <h3>April 2019 - September 2019</h3>
            <h6 class="text-muted text-secondary ">6 mos</h6>
          </div>
        </div>
        <div class="row experience-summary">
          <div class="col-md-12">
            <p>Throughout my experience as an software developer, I have honed my skills in developing highly functional applications for customers. My tech stack includes advanced technologies like NodeJS, Ionic Framework (v3-v4), Angular (v4-v5), JS, HTML, and CSS. To deliver highly reliable and scalable applications, I also used Firebase (Functions and DB).</p>
            <ul>
              <p class="font-weight-bold text-primary">Tech Stack</p>
              <li>Angular 5</li>
              <li>Ionic Framework</li>
              <li>NodeJS</li>
              <li>Firebase Cloud Function, Firestore, Real Time Database</li>
            </ul>
          </div>
        </div>
      </div>

   

    </div>

  </section>