<div class="container" style="margin-top:6rem;">
  <a id="button"></a>

  <section id="section1" class="section1">
    <!-- Summary -->
    <div class="title text-center">
      <h1>Arda Ipek</h1>
      <h3>Web Developer</h3>
      <hr />
    </div>
    <div class="summary">
      <div class="card card-1 mb-5">
        <div class="card-body">
          <h3 class="card-title title">Summary</h3>
          <p class="card-text">
            I graduated from Business Informatics in 2018.I work as a software developer at PrimeApps.
            I'm mostly using javascript and .net core for development.
            I like working with javascript and Js frameworks/libraries.
            I develop web applications with angular and mobile applications.
            Also out of my professional daily routine.I'm an amateur cyclist.
          </p>
        </div>
      </div>
      <div class="card card-1 mb-5">
        <!--Frontend-->
        <div class="card-body">
          <h5 class="card-title text-center mb-3" style="text-decoration:underline">Frontend</h5>
          <div class="row">
            <div class="col-md-6">
              <p>Html</p>
              <p>Css - Sass</p>
              <p>Bootstrap</p>
              <p>Angular Material</p>
            </div>
            <div class="col-md-6">
              <p>Javascript - ES5 ES6</p>
              <p>TypeScript</p>
              <p>Angular2+ and Angularjs</p>
              <p>Ionic Framework</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card card-1 mb-5">
        <!--Backend-->
        <div class="card-body">
          <h5 class="card-title text-center title mb-3" style="text-decoration:underline">Backend</h5>
          <div class="row text-center">
            <div class="col-md-12">
              <p>.Net Core</p>
              <p>NodeJS</p>
              <p>PostgreSQL</p>
              <p>Firebase</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="section1-2">
    <!-- BI -->
    <h2 class="text-center section-title">Business Informatics?</h2>
    <p>Bussiness Informatics is a discipline created by the nesting of both business departmant and computer engineering
      departmans.</p>
  </section>

  <section id="section2" class="section2">
    <!-- Works -->
    <div class="work-experience">

      <h2 class="text-center section-title">Work Experiences</h2>

      <div class="card card-1 mb-5">
        <div class="row experience-title">
          <div class="col-md-9">
            <h3 class="company">PrimeApps</h3>
            <h4>Software Developer</h4>
            <h5>Angular and .Net Core Development</h5>
          </div>
          <div class="col-md-3">
            <h3>October 2019 - Present</h3>
          </div>
        </div>
        <div class="row experience-summary">
          <div class="col-md-12">
            <p>
              I develop web app.PrimeApps provide comprehensive web applications on low code platform. My
              responsibilities are develop versatile new apps,solve the bug and add
              new features for platform.I use .Net Core and Javascript for development.
            </p>
            <ul>
              <li>ES5 and ES6 with angular</li>
              <li>.Net Core web apis</li>
              <li>PostgreSQL</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card card-1 mb-5">
        <div class="row experience-title">
          <div class="col-md-9">
            <h3 class="company">De Marke Labs</h3>
            <h4>Jr.Frontend Developer</h4>
            <h5>Angular/Ionic Projects</h5>
          </div>
          <div class="col-md-3">
            <h3>April 2019 - September 2019</h3>
          </div>
        </div>
        <div class="row experience-summary">
          <div class="col-md-12">
            <p>
              I mostly used angular and ionic frameworks on javascript.
              I have developed hybrid applications with Ionic Framework *ionic 4. I used node js and firebase in these
              applications.
            </p>
            <ul>
              <li>Firebase Cloud Function</li>
              <li>Arduıno Development : Arduino Bluetooth Module and Hall Effect Sensor</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card card-1 mb-5">
        <div class="row experience-title">
          <div class="col-md-9">
            <h3 class="company">Nebim Bilgisayar Hizmetleri</h3>
            <h4>Software Support Trainee</h4>
          </div>
          <div class="col-md-3">
            <h3>Jun 2018 - Sep 2018</h3>
          </div>
        </div>
        <div class="row experience-summary">
          <div class="col-md-12">
            <p>
              I have worked on database queries, report generation from tables, and bug fixes.
            </p>

          </div>
        </div>
      </div>

    </div>

  </section>

  <section id="section3" class="section3">
    <h2 class="text-center section-title">Projects</h2>
    <div class="row">
      <div class="col-md-6 left">
        <div class="col-md-3">
          <a href="https://github.com/aardaipek" target="_blank">
            <div class="card card-1">

            </div>
          </a>
        </div>

      </div>
      <div class="col-md-6 right">
        <ul>
          <li><strong>Family Tracker (2019)</strong>: Angular 7, Ionic 4, Firebase, Nodejs</li>
          <li><strong>Bike Wheel Counter (2019)</strong>: Angular 7, Ionic 4, Arduıno modules, Nodejs</li>
          <li><strong>Puanma.com (2018)</strong>: Html, Css, Js</li>
        </ul>
      </div>
    </div>

  </section>

  <section id="section4" class="section4">
    <!-- Contact -->
    <h2 class="text-center section-title">Contact</h2>

    <div class="row">
      <div class="col-md-3">
        <a href="https://www.linkedin.com/in/ardaipek/" target="_blank">
          <div class="card card-1">

          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://twitter.com/aardaipek" target="_blank">
          <div class="card card-2">

          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://open.spotify.com/user/aardaipek?si=ULcaUscDSAyzckU2TO25Rg" target="_blank">
          <div class="card card-3">


          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="mailto:ardaipek66@gmail.com" target="_blank">
          <div class="card card-4">


          </div>
        </a>
      </div>
    </div>

  </section>

</div>

<!-- <section class="section-5 o-x-h">
    <div data-aos="fade-up" class="slider-wrapper">
        <div class="container-fluid p-0">
            <div class="row align-items-center">
                <div class="col-12 col-carousel">
                    <div id="pnlSlider" class="owl-carousel carousel-main">
                        <a href="detail.html" class="slide-box">
                            <img alt="Basketbolcu" src="img/img11.png" />

                            <h2 class="title text-left">Toronto'nun içinden geçeceğim.</h2>
                        </a>

                        <a href="detail.html" class="slide-box">
                            <img alt="Ali Koç" src="img/img12.png" />

                            <h2 class="title text-center">Yeniden Fenerbahçe Projesi Nedir?</h2>
                        </a>

                        <a href="detail.html" class="slide-box">
                            <img alt="Paul Pogba" src="img/img13.png" />

                            <h2 class="title text-right">Eserimin adı "Esaretin bedeli"</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->


<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted">Arda Ipek 👾 ❤Code <strong>{{today}}</strong> </span>
  </div>
</footer>