<section id="section3" class="section3">
    <h2 class="text-center section-title mb-5">Projects</h2>
    <div class="row">
      <div class="col-md-4 left">
        <div class="mb-5">
          <h3><strong>Github</strong></h3>
          <p class="text-muted font-weight-light"><u>My repositories are below</u></p>
        </div>
        
        <a href="https://github.com/aardaipek" target="_blank">
          <div class="card card-1">

          </div>
        </a>
      </div>
      <div class="col-md-4">
        <h3 class="mb-5"><strong>Personal Projects</strong></h3>
        <ul>
          <p class="font-weight-bold text-muted"><u>Dashboard API</u></p>
          <li class="font-italic">NodeJS - Typescript</li>
          <li class="font-italic">Express</li>
          <li class="font-italic">PostgreSQl</li>
          <li class="font-italic">AWS, RDS</li>
        </ul>
        <ul>
          <p class="font-weight-bold text-muted"><u>Exchange Service API</u></p>
          <li class="font-italic">NodeJS - Typescript</li>
          <li class="font-italic">Express</li>
          <li class="font-italic">Firebase</li>
        </ul>
        <ul>
          <p class="font-weight-bold text-muted"><u>Microservices with Ocelot</u></p>
          <li class="font-italic">.Net Core</li>
          <li class="font-italic">Ocelot</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="mb-5"><strong>Professional Projects</strong></h3>
        <ul>
          <p class="font-weight-bold text-muted"><u>Martı Payment & Wallet API's</u></p>
          <li class="font-italic">NodeJS, Typescript, NestJS</li>
          <li class="font-italic">PostgreSQL, Redis</li>
          <li class="font-italic">AWS Lambda, Docker</li>
        </ul>
        <ul>
          <p class="font-weight-bold text-muted"><u>Martı Customer API</u></p>
          <li class="font-italic">NodeJS</li>
          <li class="font-italic">PostgreSQL, Redis</li>
          <li class="font-italic">AWS Lambda</li>
        </ul>
        <ul>
          <p class="font-weight-bold text-muted"><u>PrimeApps & Ofisim Plus</u></p>
          <li class="font-italic">.Net Core</li>
          <li class="font-italic">AngularJS</li>
          <li class="font-italic">PostgreSQL, Redis</li>
          <li class="font-italic">Microsoft Azure, Functions, Pipeline</li>
        </ul>
      </div>
    </div>
  </section>