<section id="section3" class="section3">
    <h2 class="text-center section-title mb-5">Projects</h2>
    <div class="row">
      <div class="col-md-4 left">
        <h3 class="mb-5"><strong>Github</strong></h3>
        <a href="https://github.com/aardaipek" target="_blank">
          <div class="card card-1">

          </div>
        </a>
      </div>
      <div class="col-md-4">
        <h3 class="mb-5"><strong>Night Projects</strong></h3>
        <ul><strong> Microservices with Ocelot</strong>
          <li>C# and Ocelot</li>
        </ul>
        <ul><strong> Ürün Kovanı App</strong>
          <li>E-Commerce Market App</li>
          <li>Angular 9 ve Dotnet Core</li>
        </ul>
        <ul><strong> Family Tracker App</strong>
          <li>Realtime location share app</li>
          <li>Ionic , Firebase, NodeJS</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="mb-5"><strong>Professional Projects</strong></h3>
        <ul><strong> Ofisim Plus</strong>
          <li>.Net Core, Javascript, AngularJS</li>
        </ul>
        <ul><strong> Azure Functions</strong>
         
        </ul>
        <ul><strong> Order Management System</strong>
         
        </ul>
        
      </div>
    </div>
  </section>