<section id="section3" class="section3">
    <h2 class="text-center section-title mb-5">Projects</h2>
    <div class="row">
      <div class="col-md-4 left">
        <a href="https://github.com/aardaipek" target="_blank">
          <div class="card card-1">

          </div>
        </a>
      </div>
      <div class="col-md-4">
        <h3 class="mb-5"><strong>Night Projects</strong></h3>
        <ul><strong> Ürün Kovanı App</strong>
          <li>E-Commerce Market App</li>
          <li>Angular 9 ve Dotnet Core</li>
        </ul>
        <ul><strong> Family Tracker App</strong>
          <li>Realtime location share app</li>
          <li>Ionic , Firebase, NodeJS</li>
        </ul>
        <ul><strong> Bike Wheel Counter App</strong>
          <li>Whell turn counter with arduino</li>
          <li>Ionic , Firebase, NodeJS, Arduino</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="mb-5"><strong>Professional Projects</strong></h3>
        <ul><strong>Ofisim & PrimeApps Projects</strong>
          <li>Ofisim IK</li>
          <li>Ofisim CRM</li>
          <li>Azure  Functions</li>
          <li>Order Management System App</li>
          <li>Performance Management App </li>
        </ul>
      </div>
    </div>
  </section>