@import 'https://bootswatch.com/4/journal/bootstrap.css';
$red: #e74c3c;
$yellow: #f1c40f;
$purple: #8e44ad;
$dark-purple: #010059;
$green: #2ecc71;
$blue: #3498db;
$light-blue: #a6e3e9;
$black: #222831;
$dark-blue: #2c3e50;
$dirty-white: #ecf0f1;
$orange: #e67e22;
$light-green: #9df3c4;
$navbar-scroll-color: #f4fef9;
.navbar {
    display: flex;
    border: none;
    border-radius:20px  ;
    background: transparent !important; 
    margin-top:7em;
    #navbarColor03 {
        .nav-link{
            &:hover {
               border-radius: 50px;
               transition: all 0.5s ease;
               background: $dirty-white;
               color: $purple;
            }
        }
    }
}
#navbarColor03 ul li i {
    padding: 7px;
}
.printButton {
    color: $red !important;
}