
<div class="main-wrapper"id="resume">
    <div class="container px-3 px-lg-5">
        
        <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">
            
            <div class="resume-header">
                <div class="row align-items-center">
                    <div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
                        <h2 class="resume-name mb-0 text-uppercase">Arda İpek</h2>
                        <div class="resume-tagline mb-3 mb-md-0"> Software Developer</div>
                    </div><!--//resume-title-->
                    <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg mr-2 "></i><a class="resume-link" href="tel:+90 538 461 1970">+90 538 461 1970</a></li>
                            <li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg mr-2"></i><a class="resume-link" href="mailto:aardaipek@outlook.com">aardaipek@outlook.com</a></li>
                            <li class="mb-2"><i class="fas fa-globe fa-fw fa-lg mr-2"></i><a class="resume-link" href="www.ardaipek.xyz">www.ardaipek.xyz</a></li>
                            <li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg mr-2"></i>Istanbul</li>
                        </ul>
                    </div><!--//resume-contact-->
                </div><!--//row-->
                
            </div><!--//resume-header-->
            <hr>
            <div class="resume-intro py-3">
                <div class="media flex-column flex-md-row align-items-center">
                    <!-- <img class="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" src="assets/profile.png" alt="image"> -->
                    <div class="media-body text-left">
                        <p class="mb-0">I work as a software developer at PrimeApps. I'm mostly using javascript and .net core for development and add new features.
                            I write projects , codes with angularjs and angular 2+ and .net core web api with c # as backend.Also, I love developing mobile applications with ionic.
                            I am interested in React and React native and want to use it professionally.
                             #angular #javascript </p>
                    </div><!--//media-body-->
                </div>
            </div><!--//resume-intro-->
            <hr>
            <div class="resume-body">
                <div class="row">
                    <div class="resume-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">
                        <section class="work-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Work Experiences</h3>
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0"> Software Developer</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">PrimeApps | 2019 Oct - Present</div>
                                    
                                </div>
                                <div class="item-content">
                                    <p>I develop web app.PrimeApps provide comprehensive web applications on low code platform.
                                         My responsibilities are develop versatile new apps,solve the bug and add new features for platform. 
                                         I use .Net Core and Javascript for development.</p>
                                    <ul class="resume-list">
                                        <li>AngularJS and Javascript</li>
                                        <li>.Net Core, C#</li>
                                        <li>PostgreSql</li>
                                    </ul>
                                </div>
                            </div><!--//item-->
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Jr.Frontend Developer</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">DeMarke Labs | 2019 Apr - 2019 Sep</div>
                                    
                                </div>
                                <div class="item-content">
                                    <p>
                                        As a junior frontend developer, I tried to improve my development skills.
                                         I learnt frontend and backend technologies.
                                        I worked with mostly HTML, CSS and JS. Also, I develop hybrid mobile app with Ionic Framework.
                                         I used firebase, arduino and gps technologies in these projects.
                                        </p>
                                    <ul class="resume-list">
                                        <li>Html Css Bootstrap</li>
                                        <li>Javascript , TypeScript</li>
                                        <li>Angular 7 and Ionic framework</li>
                                        <li>Firebase</li>
                                    </ul>
                                </div>
                            </div><!--//item-->
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Softwware Support Trainee</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Nebim Bilgisayar Hizmetleri | 2018 Jun - 2018 Sep</div>
                                    
                                </div>
                                <div class="item-content">
                                    <p>I learned V3 erp application (Product Management,Finance Module ). I worked on Mid Level MsSQL.</p>
                                </div>
                            </div><!--//item-->
                            <!--//item-->
                            
                        </section><!--//work-section-->

                        
                        <section class="project-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Projects</h3>
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Family Tracker App</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Open Source</div>
                                    
                                </div>
                                <div class="item-content">
                                    <p>It is a hybrid application that allows users to see their instant location, visit history and receive security notifications.
                                         The user maps a region he / she sets on the map to a user of his / her choice and receives notification if he / she enters this area.
                                          In addition, profile editing shows the bird's flight distance to the admin user.</p>
                                </div>
                            </div><!--//item-->
                            <div class="item">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Bike Wheel Counter</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Open Source</div>
                                    
                                </div>
                                <div class="item-content">
                                    <p>It is a mobile application that shows the number of wheel laps and the kilometers traveled for use in sports equipment and bicycles.
                                         The front of the application is developed for angular 7 and ionic 4 and ios and android platforms. 
                                         Arduino microprocessors were used to calculate the number of turns. 
                                        The application communicates with arduino via bluetooth connection and calculates the turn of the tour with the magnet.</p>                                    
                                </div>
                            </div><!--//item-->
                            <!--//item-->
                        </section><!--//project-section-->	
                    </div><!--//resume-main-->
                    <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
                        <section class="skills-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>
                            <div class="item">
                                <h4 class="item-title">Technical</h4>
                                <ul class="list-unstyled resume-skills-list">
                                    <li class="mb-2">JavaScript/Angular/TypeScript</li>
                                    <li class="mb-2">Ionic 4, AngularJs</li>
                                        <li class="mb-2">Node.js/.NET Core</li>
                                        <li class="mb-2">PostgreSQL/Firebase/MongoDB</li>
                                        <li class="mb-2">Bootstrap, Angular Material</li>
                                        <li>VS Code, Visual Studio, Git</li>
                                    </ul>
                                </div><!--//item-->
                                <div class="item">
                                    <h4 class="item-title">Professional</h4>
                                    <ul class="list-unstyled resume-skills-list">
                                        <li class="mb-2">Team player<li>
                                            <li>Good time management</li>
                                        </ul>
                                    </div><!--//item-->
                                </section><!--//skills-section-->
                                <section class="education-section py-3">
                                    <h3 class="text-uppercase resume-section-heading mb-4">Education</h3>
                                    <ul class="list-unstyled resume-education-list">
                                        <li class="mb-3">
                                            <div class="resume-degree font-weight-bold">BSc in Business Informatics</div>
                                            <div class="resume-degree-org text-muted">University of Halic </div>
                                            <div class="resume-degree-time text-muted">2010 - 2014</div>
                                        </li>
                                        
                                    </ul>
                                </section>
                                <!-- <section class="education-section py-3">
                                    <h3 class="text-uppercase resume-section-heading mb-4">Awards</h3>
                                    <ul class="list-unstyled resume-awards-list">
                                        <li class="mb-3">
                                            <div class="font-weight-bold">Award Lorem Ipsum</div>
                                            <div class="text-muted">Microsoft lorem ipsum (2019)</div>
                                        </li>
                                        <li>
                                            <div class="font-weight-bold">Award Donec Sodales</div>
                                            <div class="text-muted">Oracle Aenean (2017)</div>
                                        </li>
                                    </ul>
                                </section> -->
                                <section class="skills-section py-3">
                                    <h3 class="text-uppercase resume-section-heading mb-4">Languages</h3>
                                    <ul class="list-unstyled resume-lang-list">
                                        <li class="mb-2">Turkish <span class="text-muted">(Native)</span></li>
                                        <li>English <span class="text-muted">(Professional)</span></li>
                                    </ul>
                                </section><!--//certificates-section-->
                                <section class="skills-section py-3">
                                    <h3 class="text-uppercase resume-section-heading mb-4">Interests</h3>
                                    <ul class="list-unstyled resume-interests-list mb-0">
                                        <li class="mb-2">Cycling</li>
                                        <li class="mb-2">Basketball</li>
                                        <li class="mb-2">History</li>
                                    </ul>
                                </section><!--//certificates-section-->
                                
                            </aside><!--//resume-aside-->
                        </div><!--//row-->
                    </div><!--//resume-body-->
                    <hr>
                    <div class="resume-footer text-center">
                        <ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
                            <li class="list-inline-item mb-lg-0 mr-3"><a class="resume-link" href="https://github.com/aardaipek"><i class="fab fa-github-square fa-2x mr-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">github.com/aardaipek</span></a></li>
                            <li class="list-inline-item mb-lg-0 mr-3"><a class="resume-link" href="https://www.linkedin.com/in/ardaipek/"><i class="fab fa-linkedin fa-2x mr-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">linkedin.com/in/ardaipek</span></a></li>
                            <li class="list-inline-item mb-lg-0 mr-lg-3"><a class="resume-link" href="https://twitter.com/aardaipek"><i class="fab fa-twitter-square fa-2x mr-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">@aardaipek</span></a></li>
                        </ul>
                    </div><!--//resume-footer-->
                </article>
                
            </div><!--//container-->
            
            
            
        </div>

    